body{
    background-color: rgb(199, 121, 81);
}

.primeiraparte{
    background-color: rgb(211, 211, 211);
}
.foto{
    width: 505px;
}

.todososestudantes{
    display: grid
    grid-template-columns 20% 20% 20% 20% 20%s
}
